# =====================
# 编译生成的文件
# =====================
# 交叉编译生成的可执行文件
hello
*.elf
*.bin
*.hex
*.out

# 目标文件
*.o
*.obj
*.a
*.so


# 调试文件
*.dSYM
*.map
*.lst

# =====================
# VS Code 配置与缓存
# =====================
.vscode/
*.code-workspace
*.log

# =====================
# 临时文件与备份
# =====================
*~
*.bak
*.tmp
*.swp
*.swo
*.orig

# =====================
# 系统文件
# =====================
Thumbs.db
.DS_Store